<!--
<form [formGroup]="frmRegister" (ngSubmit)="fncUserRegister(frmRegister.value)" >

<input formControlName="userName" type="text" placeholder="userName" class="form-control"/>
<input formControlName="userSurname" type="text" placeholder="userSurname" class="form-control"/>
<input formControlName="userPhone" type="text" placeholder="userPhone" class="form-control"/>
<input formControlName="userMail" type="email" placeholder="userMail" class="form-control"/>
<input formControlName="userPass" type="password" placeholder="userPass" class="form-control"/>
</form>

-->


<h1> User Register </h1>
<input [(ngModel)]="userName" type="text" placeholder="userName" class="form-control"/>
<input [(ngModel)]="userSurname" type="text" placeholder="userSurname" class="form-control"/>
<input [(ngModel)]="userPhone" type="text" placeholder="userPhone" class="form-control"/>
<input [(ngModel)]="userMail" type="email" placeholder="userMail" class="form-control"/>
<input [(ngModel)]="userPassword" type="password" placeholder="userPass" class="form-control"/>
<button (click)="fncUserRegister()" class="btn btn-danger">Register</button>
